*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: whitesmoke;
}
h1{
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
    color: gray;
}
div{
    display: block;
    margin: auto;  
}
img{
    display: block;
    margin: auto;
    width: 600px;
    height: 300px; 
    border-radius: 30px;
    margin-top: 30px;
}

